

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

In [2]:
listes_python = ['Kadidiatou', 'FAYE', 'Regular Online']
print(listes_python)

['Kadidiatou', 'FAYE', 'Regular Online']

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [1]:
empty_list = []

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [2]:
liste = ['khady', 'lala','katy', 1, 4]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [3]:
print(len(liste))

5

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [5]:
print(liste[0])
print(liste[2])
print(liste[-1])

khady
katy
4

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [6]:
mixed_data_typees = ['nom', 'age', 'taille', 'etat_civil', 'adresse']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

###  REPONSES EXERCICE 5

 1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

In [116]:
 it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

2. Imprimez la liste √† l'aide de print()

In [117]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

3. Imprimez le nombre d'entreprises dans la liste

In [118]:
print(len(it_companies))

7

 4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

In [119]:
print(it_companies[0]) # le premier elt
print(it_companies[3]) # la mediane
print(it_companies[-1]) # the last

Facebook
Apple
Amazon

5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises

In [120]:
it_companies = [i.replace('Google', 'Accenture') for i in it_companies]
print(it_companies)

['Facebook', 'Accenture', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

6. Ajout d'une entreprise informatique √† it_companies

In [121]:
len(it_companies)

7

In [122]:
it_companies.append('SAP')

7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

In [123]:
print(len(it_companies))
it_companies.insert(4, 'Fijitsu')
print(it_companies)

8
['Facebook', 'Accenture', 'Microsoft', 'Apple', 'Fijitsu', 'IBM', 'Oracle', 'Amazon', 'SAP']

9. Joignez les it_companies avec une cha√Æne '# ; '.

In [125]:

it_ = '#'.join(it_companies)
print(it_)

Facebook#Accenture#Microsoft#Apple#Fijitsu#IBM#Oracle#Amazon#SAP

  11. Trier la liste en utilisant la m√©thode sort()

In [126]:
it_companies.sort()
print(it_companies)

['Accenture', 'Amazon', 'Apple', 'Facebook', 'Fijitsu', 'IBM', 'Microsoft', 'Oracle', 'SAP']

 12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

In [127]:
it_rev = it_companies.reverse()

In [128]:
print(it_rev)

None

 10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

  
   

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

 13. Supprimez les 3 premi√®res entreprises de la liste.

In [132]:
del1 = del (it_companies[0:3])

SyntaxError: invalid syntax (<ipython-input-132-d64aa08143fd>, line 1)


    14. Supprimez les 3 derni√®res entreprises de la liste.

In [ ]:
del2 = del ()

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [37]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
front_back_end = front_end+back_end

print(front_back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

### RESOLUTION EXERCICE 07

In [29]:
 ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

1. Trier la liste et trouver l'√¢ge minimum et maximum.

In [31]:
print(sorted(ages)) # la foonction sorted() fait un tri ascendant
print(ages[0])      # renvoi le premier elt de la liste qui est le min
print(ages[-1])     # renvoi le premier elt de la liste qui est le max

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
24
19

In [30]:
print(ages.reverse())

None

2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.

In [32]:
ages.extend([19, 26])
print(ages)

[24, 25, 24, 26, 25, 20, 24, 19, 22, 19, 19, 26]


3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).

In [35]:
print(sorted(ages))
n =len(ages)
print(n)
j = int((n-1)/2)
k = int((n+1)/2)
med = (ages[j-1]+ages[k-1])/2
print(med)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
12
22.5

4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).

In [37]:
print(ages)
n = len (ages)
sum = 0
for i in range(0, n):
    sum = sum+ ages[i]
age_moyen = sum / n
print(age_moyen)

[24, 25, 24, 26, 25, 20, 24, 19, 22, 19, 19, 26]
22.75

4. Trouver l'intervalle des √¢ges (max moins min)

5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

### RESOLUTION

1. Cr√©er un dictionnaire vide appel√© dog

In [38]:
dog = {}
print(dog)

{}

2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.

In [39]:
dog = {'nom': 'Chien', 'couleur':'marron', 'race': 'Berger Almand', 'pattes': 4, 'age':2}
print(dog)

{'nom': 'Chien', 'couleur': 'marron', 'race': 'Berger Almand', 'pattes': 4, 'age': 2}

3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.

In [41]:
student = {'prenom': 'Khadidiatou','nom' : "FAYE",  'sexe' : 'f', '√¢ge' : 25 , 'etat_civil' : 2758 , 'competence' : ['Python', 'Bussiness Intelligence', 'SQL', 'Collecte de donnees'], 'pays' : 'Senegal', 'ville' : 'Mbour' ,'adresse' : 22177}
print(student)

{'prenom': 'Khadidiatou', 'nom': 'FAYE', 'sexe': 'f', '√¢ge': 25, 'etat_civil': 2758, 'competence': ['Python', 'Bussiness Intelligence', 'SQL', 'Collecte de donnees'], 'pays': 'Senegal', 'ville': 'Mbour', 'adresse': 22177}

4. Obtenez la longueur du dictionnaire student

In [42]:
len(student)

9

5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.

In [43]:
student['competence']

['Python', 'Bussiness Intelligence', 'SQL', 'Collecte de donnees']

In [24]:
type(student['competence'])

list

6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.

In [44]:
student['competence'].extend(['data-mining', 'Cartographie']) 
print(student['competence'])

['Python', 'Bussiness Intelligence', 'SQL', 'Collecte de donnees', 'data-mining', 'Cartographie']

7. Obtenez les cl√©s du dictionnaire sous forme de liste

In [45]:
print(student.keys())

dict_keys(['prenom', 'nom', 'sexe', '√¢ge', 'etat_civil', 'competence', 'pays', 'ville', 'adresse'])

8. Obtenir les valeurs du dictionnaire sous forme de liste

In [46]:
print(student.values())

dict_values(['Khadidiatou', 'FAYE', 'f', 25, 2758, ['Python', 'Bussiness Intelligence', 'SQL', 'Collecte de donnees', 'data-mining', 'Cartographie'], 'Senegal', 'Mbour', 22177])

9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()

In [47]:
print(student.items())

dict_items([('prenom', 'Khadidiatou'), ('nom', 'FAYE'), ('sexe', 'f'), ('√¢ge', 25), ('etat_civil', 2758), ('competence', ['Python', 'Bussiness Intelligence', 'SQL', 'Collecte de donnees', 'data-mining', 'Cartographie']), ('pays', 'Senegal'), ('ville', 'Mbour'), ('adresse', 22177)])

10. Supprimer un des √©l√©ments du dictionnaire

In [48]:
del(student['competence'][-1])
print(student)

{'prenom': 'Khadidiatou', 'nom': 'FAYE', 'sexe': 'f', '√¢ge': 25, 'etat_civil': 2758, 'competence': ['Python', 'Bussiness Intelligence', 'SQL', 'Collecte de donnees', 'data-mining'], 'pays': 'Senegal', 'ville': 'Mbour', 'adresse': 22177}


    Supprimer un des dictionnaires

In [49]:
del(dog)

11. Supprimer un des dictionnaires

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>